/* Mixin d'une font google */
@mixin googleFont($font_name) {
	@import url("https://fonts.googleapis.com/css?family=#{$font_name}");
}

/* Mixin de deux fonts google */
@mixin googleFonts($font_name_one, $font_name_two) {

	$base: "https://fonts.googleapis.com/css?family=";
	$font1: $font_name_one;
	$separation: "|";
	$font2: $font_name_two;
	$result: $base + $font1 + $separation + $font2;
	@import url($result);
	
}