
/* EXERCICE - 
 * Créer un MIXIN pour générer un lien permettant d'ajouter des fonts de google font 
 * en tapant simplement le nom de la police sans pour autant négliger les espaces. */
@import 'googleFont';
/* Inclusion de ma mixin contenant une seule font de google */
@include googleFont("Cormorant Garamond");
/* Inclusion de ma mixin contenant deux fonts de google */
@include googleFonts("Amita", "Goudy Bookletter 1911");

/* Importation de mon fichier contenant les variables utiliser pour mon site. */
@import 'variables';


/* Exemple d'héritage pour centrer un élément. Aussi appelé "Bloc de propriété" */
%text-center {
	text-align: center
}

body {
	width: calc(100vw - 2vw);
	color: $textColor;
}

header,
footer {
	// Utilisation de l'héritage qu'on a définit à text-center	
	@extend %text-center;
	background-color: $primaryColor;
}

header {
	height: 10vh;
	line-height: 10vh;
	
	/* Imbrication de la balise H1 du HEADER. Le code qui sera généré sera :
	footer h1 {
		color: #2171AE;
	}*/
	h1 {
		color: $secondaryColor;
		font-family: 'Cookie', cursive;


		/* Utilisation du mot clé "&" qui se traduirait en javascript par "this". */
		&:hover {
			text-transform: uppercase;
			color: $textColor;
		}
	}

	
	a {
		// Utilisation d'une de mes polices d'écriture importer via ma mixin "googleFonts" (avec un S);
		font-family: Amita, cursive;
	}
}

footer {
	height: 20vh;
	line-height: 20vh;	
}

main {
	height: 70vh;
	width: 80vw;
	margin: 0 auto;
	padding: 50px;
	background-color: $secondaryColor;

	// Utilisation d'une de mes polices d'écriture importer via ma mixin "googleFonts" (avec un S);
	font-family: "Goudy Bookletter 1911", serif;
}