/* Importation de mon fichier contenant les variables utiliser pour mon site. */
@import 'variables';

/* EXERCICE - 
 * Créer un MIXIN pour générer un lien permettant d'ajouter des fonts de google font 
 * en tapant simplement le nom de la police sans pour autant négliger les espaces. */
@import 'googleFont';
/* Inclusion de ma mixin contenant une seule font de google */
@include googleFont($fontTitle);
/* Inclusion de ma mixin contenant deux fonts de google */
@include googleFonts($fontLink, $fontContent);

/* EXERCICE Conception d'une class d'image avec la boucle EACH */
@each $name in css, js, php, mysql {
	.#{$name}-icon {
		background-image: url("../../images/#{$name}.png");
	}
}

/* Récupération de ma variable LIST dans ma BOUCLE @EACH */
@each $test in $nom_de_ma_list {
	.#{$test} {
		content: #{$test};
	}
}

/* EXO MAP */
@each $key, $value in $colors  {
	.#{$value} {
		color: #{$value};
	}
}

/* Exemple d'héritage pour centrer un élément. Aussi appelé "Bloc de propriété" */
%text-center {
	text-align: center
}

/* EXERCICE -
 * Conception d'un theme qui sera interprêter selon le theme choisit.
 */
%theme {
	
	@if ($theme == purple) {
		color: purple;
		background-color: white;
	}
	@else if ($theme == black) {
		color: black;
		background-color: white;
	}
	@else {
		color: white;
		background-color: black;
	}
}

/* Conception d'une fonction avec SASS */
@function calcul() {
	@return 15px + 15px;
}

body {

	/* Utilisation du theme selon le choix sélectionné dans notre variable THEME */
	@extend %theme;
	width: calc(100vw - 2vw);
}

header,
footer {
	// Utilisation de l'héritage qu'on a définit à text-center	
	@extend %text-center;
	background-color: $primaryColor;
}

header {
	height: 10vh;
	line-height: 10vh;

	// UTILISATION DE LA FONCTION NTH() QUI EST NATIVE DANS SASS
	// /!\ IMPORTANT L'INDICE COMMENCE A 1 ET NON PAS A 0
	content: nth($nom_de_ma_list, -2);
	
	/* Imbrication de la balise H1 du HEADER. Le code qui sera généré sera :
	footer h1 {
		color: #2171AE;
	}*/
	h1 {
		color: $secondaryColor;

		/* Utilisation d'une police d'écriture via ma mixin "googleFont" (SANS S) */
		font-family: 'Cookie', cursive;

		/* Utilisation du mot clé "&" qui se traduirait en javascript par "this". */
		&:hover {
			text-transform: uppercase;
			color: $textColor;
		}
	}
	
	a {
		// Utilisation d'une de mes polices d'écriture importer via ma mixin "googleFonts" (avec un S);
		font-family: Amita, cursive;
	}
}

footer {
	height: 20vh;
	line-height: 20vh;	
}

main {
	height: 70vh;
	width: 80vw;
	margin: 0 auto;
	padding: 50px;
	background-color: $secondaryColor;

	// Utilisation d'une de mes polices d'écriture importer via ma mixin "googleFonts" (avec un S);
	font-family: "Goudy Bookletter 1911", serif;
}